<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />
        <key>CFBundleShortVersionString</key>
        <string>1.0.2</string>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>red</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>RedIcon</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>BlueIcon</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>green</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>GreenIcon</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
        </array>
    </dict>
</plist>